# NextStep Web Server & Database Configuration
PORT=3000
HOST=0.0.0.0
AI_BASE_URL=http://127.0.0.1:8000/api/ai

# MongoDB Configuration
# Example: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=
MONGODB_DB_NAME=nextstep
